{% extends 'base.html' %}
{% block content%}
{{ super() }}

<div class="col-lg-8 mx-auto p-3 py-md-5">


    <main>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Актив</th>
                <th scope="col">Количество монет</th>
                <th scope="col">Заблокированная сумма</th>
                <th scope="col">Стоимость в долларах USDT</th>
                <th scope="col">Стоимость в евро</th>
            </tr>
            </thead>
            <tbody>


            {% for el in my_assets%}
            {% if el.asset == coin_name %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{el.asset}}</td>
                <td>{{el.free}}</td>
                <td>{{el.locked}}</td>
                <td>$ {{el.total_usd}}</td>
                <td>€ {{el.total_eur}}</td>
                {{ reccomendatsion(el.recommendatsion) }}
                {{ reccomendatsion(el.recommendatsion_d1) }}
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <p>{% for i in ticker_i %}
            {{ i.symbol }}
            {{ i.test }}
            <hr>
            <br>
            {% endfor %}


        <br>
    </main>
    <footer class="pt-5 my-5 text-muted border-top">
        Created by the Bootstrap team &middot; &copy; 2021
    </footer>
</div>

{% endblock %}